<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  Created Events:
  <% @events.each do |event| %>
      <div>
          <h1>Event Id: <%= event.id %></h1>
          <h3>Event Date: <%= event.eventdate %></h3>
      </div>
<% end %>
    <h2>Create Event:</h2>
    <%= link_to 'New Event', new_event_path %>
</body>
</html>
